@font-face {
  font-family: 'AdihausDIN-bold';
  src: url('https://www.adidas.com/glass/assets/fonts/adidas/AdihausDIN-Bold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'AdihausDIN';
  src: url('https://www.adidas.com/glass/assets/fonts/adidas/AdihausDIN-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'adineue PRO KZ';
  src: url('https://www.adidas.com/glass/assets/fonts/adidas/adineuePRO-Bold.woff2')
    format('woff2');
}

body {
  margin: 0; 
}

.main {
  text-align: center;
  margin: 0;
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
}

.RatingReviews {
  margin: auto;
  padding: 0 15px 60px 15px;
  width: 1240px;
  max-width: 100%;
}

*:focus {
  outline: none;
}

#RR {
  width: 100%;
  font-family: 'adineue PRO KZ', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 32px;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 40px;
  display: block;
  box-sizing: border-box;
}

.percent {
  font-family: 'adineue PRO KZ', Helvetica, Arial, sans-serif;
  font-size: 66px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: inline-block;
}

.container1 {
  display: flex;
  width: 545px;
  height: 100px;
  margin: auto;
  margin-bottom: 40px;
}

.percentage {
  width: 295px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.customersRec {
  font-size: 14px;
  width: 172.3px;
  display: flex;
  text-align: left;
  margin-left: 10px;
}

.container3 {
  display: flex;
}

.container4 {
  margin-left: 4.16667%;
  width: 29.16667%;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
  box-sizing: border-box;
  height: 730px;
}

