#arrow {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  box-sizing: border-box;
}

#footerArrow {
  display: flex;
  width: 24px;
  position: relative;
  right: 11px;
  height: 49px;
}
