.rating {
  border-bottom: 1px solid #ebedee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#breakdown {
  font-family: 'adineue PRO KZ', Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  font-size: 18px;
  line-height: 16px;
  text-align: left;
}

ul {
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  list-style-type: none;
  padding: 0;
}