.ratingM {
  border-bottom: 1px solid #ebedee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#breakdown {
  font-family: 'adineue PRO KZ', Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  font-size: 20px;
  line-height: 16px;
  text-align: left;
}

.listOfStars {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.filterstatus {
  box-sizing: border-box;
  text-align: center;
  list-style: none;
}

.filterListItem {
  font-family: adihausdin-bold;
  display: inline;
  padding-right: 5px;
  box-sizing: border-box;
}

.filterList {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  list-style-type: none;
  padding: 0;
  display: block;
  margin: 0;
}

.removeFilter {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s;
}

.removeFilter:hover {
  color: white;
  background-color: black;
}
